@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap');

body {
    font-family: 'Dancing Script' , cursive;
    font-size : 20px;
    font-weight: 500;
  margin :0px;
  
}
 
:root {
    
       --primary-color:  #16414f;
      --secoundary:  #33c2b1;
}

 #myhead {

     background-color: var(--primary-color) ;
      border-bottom-left-radius: 3rem;
      text-align: center;
      padding : 1rem 1rem;
      color : white;
     
 }
 .container-fluid {
     padding: 1rem 1rem;

 }

 .container-center {
    text-align : center;
    padding: 1rem 1rem;
    background-color: palevioletred;

 }

 /**links**/
.link {
    text-decoration: none;
    padding: 0.1rem 0.5rem;
    text-align: center;
    
}
 .primary{
     background-color: var(--primary-color);
     border-radius: 1rem;
     color : white;
 }

 .secoundary {
   
    
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
 }

.list
{
    list-style-type:none;

}

.initem {
 display :inline;
 padding : 0rem 0.4rem;

}
.unordered
{
    color :violet;

}

.inline {
    color : pink;
}

.bar {

padding : 0.1rem 0.5rem ;
background-color: var(--primary-color);
text-decoration: none;
border-bottom-left-radius: 3rem;
}

.bar-items {
    text-align: right;
}

.item {
    text-decoration: none;
    color :white;
    

    
}
.active {
    font-weight:bolder;
}
   
@media screen and (max-width : 600px)
{
header.hero-head{
    text-align: left;
    padding : 2rem 0.5rem;
    
}
}

@media screen and (max-width : 600px)
{
img.hero {
    max-width: 400px;
    
}
}


.hero {
    max-width: 700px;
}
.hero-head {
    text-align: center;
   padding : 2rem 0.5rem;
}
.heads {
    text-align: center;
   
}
/**sections**/

.section  {
text-align: center;
padding  : 2rem 2rem ; 

}

.ow {
    background-color:#F3F4F6;
   
}

/** fotter **/
.foot {
     background-color: var(--primary-color); 
    padding : 0.1rem 0.1rem 0rem 0.1rem;
    border-top-right-radius: 3rem;
}

.project-item {

    padding : 2rem 1rem 3rem 1rem;
}
h3 {
    padding-left: 0.3rem;
}

